

/*
Site para consulta: 

www.w3schools.com/css
*/


.news { background-color:lightblue; 
        border-radius: 5px; 
        padding: 20px; 
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.example { background-color:lightgray; 
}

.solution { background-color:#99ff99; 
}